<mat-table #table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Nazwa </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="number">
    <mat-header-cell *matHeaderCellDef [ngClass]="'slimColumn'" mat-sort-header disableClear="true" start="desc"> Ilość </mat-header-cell>
    <mat-cell *matCellDef="let element" [ngClass]="'slimColumn'"> {{element.number}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef [ngClass]="'slimColumn'" mat-sort-header disableClear="true" start="desc"> Łączna Kwota </mat-header-cell>
    <mat-cell *matCellDef="let element" [ngClass]="'slimColumn'"> {{element.value| number:'1.2-2'}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToFiltering(row)"></mat-row>
</mat-table>
