<mat-form-field class="longField">
  <input matInput name="query" [(ngModel)]="query">
</mat-form-field>
<button mat-raised-button (click)="filter(query)">filtruj</button>
<button mat-raised-button (click)="addRule(query)">dodaj regułę</button>

<mat-table #table [dataSource]="dataSource">

  <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef [ngClass]="'slimColumn'"> Data </mat-header-cell>
    <mat-cell *matCellDef="let element" [ngClass]="'slimColumn'" (click)='openDialog(element)'> {{element.date | date:'d-M-y'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef [ngClass]="'mediumColumn'"> Typ transakcji </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'mediumColumn'">
        <span *ngIf="element.type != 'Płatność kartą'"> {{element.type}} </span>
      </mat-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef [ngClass]="'slimColumn'"> Kwota </mat-header-cell>
    <mat-cell *matCellDef="let element" [ngClass]="'slimColumn'"> {{element.amount | number:'1.2-2'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Nazwa </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="accountNumber">
    <mat-header-cell *matHeaderCellDef> Numer konta </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.accountNumber}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Opis </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span *ngIf="element.type != 'Płatność kartą'">{{element.description}}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="comment">
    <mat-header-cell *matHeaderCellDef> Komentarz </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.comment}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="chips">
    <mat-header-cell *matHeaderCellDef> Tagi </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <app-chips [tags]="element.tags"></app-chips>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"></mat-row>
</mat-table>
